server:
  port: 8081

logging:
  level:
    root: DEBUG
    org.springframework.web.client.RestTemplate: DEBUG
    org.apache.http: DEBUG
    httpclient.wire: DEBUG
spring:
  security:
    cors-allow-origin: "*"
    oauth2:
      client:
        registration:
          google:
            client-id: [GOOGLE_CLIENT_ID]
            client-secret: [GOOGLE_CLIENT_SECRET]
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:h2:mem:library
    username: sa
    password: sa
    driver-class-name: org.h2.Driver
openai:
  model: gpt-3.5-turbo
  http-client:
    read-timeout: 60000
    connect-timeout: 60000
  api:
    url: /chat/completions
    key: [OPENAI-KEY]
    base-url: https://api.openai.com/v1




